lightning>=2.5.2
fire>=0.7.0
open3d>=0.19.0
numpy==2.2.6
trimesh>=4.5.3
shapely==2.0.6
pillow>=10.4.0
matplotlib==3.9.2
pandas>=2.2.3
--extra-index-url https://download.pytorch.org/whl/cu130
torch>=2.7.1
--extra-index-url https://download.pytorch.org/whl/cu130
torchvision>=0.22.1
tensorboard>=2.20.0
tensorboardx>=2.6.4
networkx==3.2.1
pronto==2.5.8
mediapipe==0.10.18
tqdm==4.67.0
torchmetrics==1.5.1
typing_extensions==4.12.2
joblib==1.4.2
scikit-learn==1.6.1
imblearn==0.0
imbalanced-learn==0.12.4
optuna==4.1.0
shap==0.46.0
plotly==5.24.1
scipy==1.14.1
cleanvision==0.3.6
loguru==0.7.3
seaborn==0.13.2
captum==0.8.0
pygraphviz==1.14
git+https://github.com/hcmlab/FaceMeshModelApi.git
kaleido==0.2.1
pyglet==1.5.31
pandas-stubs==3.0.0.260204
scipy-stubs==1.14.1.6
onnxruntime==1.24.2
onnx==1.20.1
onnxscript==0.6.2
onnxoptimizer==0.4.2
onnx_ir==0.2.0